<div class="language">
    <a href="ukr.html"><img src="../../Content/image/ukr.png"/></a>
    <a href="gb.html"><img src="../../Content/image/gb.png"/></a>
    <a href="rus.html"><img src="../../Content/image/rus.png"/></a>
</div>