<ul>
    <li style="background-color:#fb4c4a; background-image: url(../../Content/image/inform.png)">
        <a href="linkc1.html">Медична інформатика</a>
    </li>
    <li style="background-color:#7bc461; background-image: url(../../Content/image/biophiz.png)">
        <a href="linkc2.html">Медична і біологічна фізика </a>
    </li>
    <li style="background-color:#7fd4db; background-image: url(../../Content/image/bioethics.png)">
        <a href="linkc3.html">БЖД. Основи біоетики</a>
    </li>
    <li style="background-color:#ba8ad4; background-image: url(../../Content/image/info.png)">
        <a href="linkc3.html">Інформація</a>
    </li>
</ul>